[submodule "themes/landscape-jr0cket"]
	path = themes/landscape-jr0cket
	url = git@github.com:jr0cket/hexo-theme-landscape-jr0cket.git
[submodule "node_modules_manual/hexo-generator-category-feed"]
	path = node_modules_manual/hexo-generator-category-feed
	url = git@github.com:zklhp/hexo-generator-category-feed.git
